.ipynb_checkpoints/
Fake.br-Corpus-master/
__MACOSX/
checkpoint
ckpt-1.data-00000-of-00001 ckpt-1.index
docs/
trainingandtestdata
trainingandtestdata.zip
venv_tcc1/
wordclou1.png
~303247303243o.ppt
~$apresentação.pptx
ckpt-1.data-00000-of-00001 ckpt-1.index
ckpt-1.data-00000-of-00001 ckpt-1.index
ckpt-1.data-00000-of-00001
ckpt-1.index
